:root {
  --accent-blue: @blue@;
  --accent-teal: @cyan@;
  --accent-green: @green@;
  --accent-yellow: @yellow@;
  --accent-orange: @orange@;
  --accent-red: @red@;
  --accent-pink: @red@;
  --accent-purple: @magenta@;
  --accent-slate: @lightgray@;

  --accent-bg-color: @blue@;
  --accent-fg-color: @black@;
  --accent-color: @blue@;

  --destructive-bg-color: @red@;
  --destructive-fg-color: @black@;
  --destructive-color: @red@;

  --success-bg-color: @green@;
  --success-fg-color: @black@;
  --success-color: @green@;

  --warning-bg-color: @yellow@;
  --warning-fg-color: @black@;
  --warning-color: @yellow@;

  --error-bg-color: @red@;
  --error-fg-color: @black@;
  --error-color: @red@;

  --window-bg-color: @black@;
  --window-fg-color: @white@;

  --view-bg-color: @black@;
  --view-fg-color: @white@;

  --headerbar-bg-color: @black@;
  --headerbar-fg-color: @white@;
  --headerbar-border-color: @black@;
  --headerbar-backdrop-color: @black@;
  --headerbar-shade-color: @darker@30;
  --headerbar-darker-shade-color: @darker@30;

  --sidebar-bg-color: @black@;
  --sidebar-fg-color: @white@;
  --sidebar-backdrop-color: @black@;
  --sidebar-border-color: @black@;
  --sidebar-shade-color: @darker@30;

  --secondary-sidebar-bg-color: @black@;
  --secondary-sidebar-fg-color: @white@;
  --secondary-sidebar-backdrop-color: @black@;
  --secondary-sidebar-border-color: @black@;
  --secondary-sidebar-shade-color: @darker@30;

  --card-bg-color: @black@d8;
  --card-fg-color: @white@;
  --card-shade-color: @darker@30;

  --dialog-bg-color: @black@d8;
  --dialog-fg-color: @white@;

  --popover-bg-color: @black@d8;
  --popover-fg-color: @white@;
  --popover-shade-color: @darker@30;

  --thumbnail-bg-color: @black@;
  --thumbnail-fg-color: @white@;

  --shade-color: @darker@30;
  --scrollbar-outline-color: @black@;

  --active-toggle-bg-color: @blue@;
  --active-toggle-fg-color: @black@;

  --overview-bg-color: @black@;
  --overview-fg-color: @white@;

  --border-opacity: 0;

  --window-radius: 0;
}

switch:checked {
  background-color: @blue@;
}

switch > slider {
  background-color: @white@;
}

switch:checked > slider {
  background-color: @gray@;
}
